@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.auth-body {
  font-family: 'Lato', sans-serif;
  background-image: url('../images/background-image.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.neumorphic-card {
  background: rgba(236, 240, 243, 0.5);
  
  width: 100%;
  max-width: 350px;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(120, 216, 230, 1.0);
  padding: 8px;
}

.neumorphic-input {
  background: #ecf0f3;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #cbced1,inset -5px -5px 10px #ffffff;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
}

input::placeholder {
  font-size: 0.9rem;
  color: #666;
}

.neumorphic-input i {
  font-size: 1rem;
  margin: 0;
}
small{
  text-decoration: none;
  color: black;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 50px;
  color: #3c4043;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  box-shadow: 0 1px 3px rgba(60,64,67,0.3), 0 4px 8px rgba(60,64,67,0.15);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.google-btn:hover {
  background-color: #f7f8f8;
  box-shadow: 0 2px 4px rgba(60,64,67,0.3), 0 6px 10px rgba(60,64,67,0.15);
}

.google-btn img {
  width: 18px;
  height: 18px;
}
